/*-----------------------------------------------------
	location:		/assets/css/apctyler.css
	version:		1.0.201510
	author:			andrew newland
	email:			andrew@ithinkpixels.com

	creation:		Jan 05, 2015 18:14:40
-----------------------------------------------------*/

/* =less variables 
-----------------------------------------------------*/
@openSans: 'Open Sans', sans-serif;
@openSansCon: 'Open Sans Condensed', sans-serif;
@sanita: 'Sansita One', cursive;

@grey: #c6c6c6;
@blue: #042852;
@dkBlue: #1b2137;
@red: #b8252f;
@dkRed: #512128;
@white: #f0f0f0;

@lineTop: #d7d7d7;
@lineBottom: #ffffff;

/* XSmall devices (phones, 480 and down) */
@phones: 480px;

/* Small devices (tablets, 768px and up) */
@tablets: 768px;

/* Medium devices (desktops, 992px and up) */
@desktops: 992px;

/* Large devices (desktops, 1200px and up) */
@desktopsXL: 1200px;


/* Mixins */
.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}




/* = 
-----------------------------------------------------*/
body {
	background-color: @grey;
	color: @dkBlue;
	font-family: @openSans;
}

.container {
	box-shadow: 0 0 10px #888888;
	background: @white;
	border-top: 4px solid @red;
}

a {
	color: @dkBlue;
	
	&:hover { 
		color: @red;
		text-decoration: none;
	}
}

.break {
	border-bottom: 1px solid @lineTop;
	
	@media (min-width: @desktops) {
		height: 20px;
		margin-bottom: 30px;
	}
}

div.more-padding {
	padding: 10px !important;
	
	@media(min-width:@tablets) {
		padding: 10px 35px !important;
	}
}


/* =typography
-----------------------------------------------------*/
h1 {
	color: @blue;
	text-transform: uppercase;
	font-family: @openSansCon;
	font-size: 30px;
	font-weight: 900;
	border-bottom: 1px solid @lineTop;
	padding-bottom: 15px;
	margin-bottom: 20px;

	span {
		display: block;
		color: @red;
		text-transform: none;
		font-size: 22px;
		font-weight: 200;
	}
}

h2 {
	color: @red;
	font-family: @openSansCon;
	font-weight: 900;

	i { color: @blue; }
}

h4 {
	color: @red;
	font-weight: 900;
	font-family: @openSansCon;
	font-size: 20px;
}

p {
    font-size: 15px;
    line-height: 28px;

	&.lead  { font-size: 18px; }
}

label {
	small {
		font-style: italic;
		color: @red;
	}
}

/* =header
-----------------------------------------------------*/
header {
	
	.phonenumber {
		position: relative;
		background: none !important;
		color: #fff;
		width: 100% !important;
		z-index: 1;
		font-size: 30px;
		text-align: center;
	}
	
	.header-nav {
		margin: 10px -15px;
		padding-bottom: 10px;
		border-bottom: 4px solid @dkBlue;
		
		@media (min-width: @tablets) {
		
			ul {
				margin: 8px 0;
				padding: 0;
				font-weight: 700;
				font-size: 16px;
				
				li {
					list-style: none;
					padding: 0;
					margin: 0 8px 0;
					display: inline;
				}
				
			}			
						
			a.btn {
				.pull-right();
				
				p {
					margin-bottom: 0;
					font-weight: 700;
					text-transform: uppercase;
					font-size: 14px;
				}
				
				&.facebook-link {
					font-size: 40px;
					padding: 0 5px;
				}
			}
		}
		
		@media (min-width: @tablets) and (max-width: @desktops) {
			ul {
				font-size: 13px;
				
				li { margin: 0 10px; }
			}
			
			a.btn {
				p { font-size: 12px; }
				
				&.facebook-link {
					padding: 0;
					font-size: 30px;
				}
			}
		}
	}
	
	.branding-bar {
		//border-bottom: 1px solid @dkBlue;
		margin: 15px 0 0;
		padding-bottom: 15px;

		.branding {
			background-image: url('/assets/images/branding.png');
			background-repeat: no-repeat;
			background-position: center center;
			height: 100px;
			
			@media (min-width: @tablets) and (max-width: @desktops) {
				margin-bottom: 15px;
			}
			
			a { 
				display: block;
				height: 100px;
				
				span { display: none; }
			}
		}		
		
		@media (min-width: @tablets) {
			.emergency {
				border-right: 2px solid @lineBottom;
				
				div {
					text-align: center;
					position: relative;
					padding: 10px 0;
					margin-right: 22px;
					
					p {
						font-weight: 700;
						color: @blue;
						margin: 0;
						font-size: 18px;
						
						&.phone {
							//margin-top: -8px;
							font-size: 32px;
							font-family: @openSansCon;
						}
					}
					
					i.fa {
						position: absolute;
						color: @red;
						top: 7px;
						right: -2%;
						font-size: 70px;
					}
				}
			}
			
			.promotion {
				border-left: 2px solid @lineTop;
				
				div {
					text-align: center;
					position: relative;
					padding: 10px 0;
					
					img {
						height: 105px;
						margin: -14px auto 0;
					}
				}
			}
		}
			
		@media (min-width: @desktops) {
			.branding {
				border-right: 2px solid @lineTop;
			}

			.emergency {
				height: 100px;
				border-left: 2px solid @lineBottom;
				
				div {
					margin: 0 20px 0 0;
					padding: 19px 0;
					
					i.fa {
						top: 16px;
						right: -9%;
					}
				}
			}
			
			.promotion {
				height: 100px;
			}
		}
		
		@media (min-width: @desktopsXL) {
			.emergency {
				div {
					i.fa { right: 0%; }
				}
			}
		}
			
	}
	
}


/* =footer
-----------------------------------------------------*/
footer {
	margin: 0 -15px;
	border-top: 4px solid @red;
	
	.footer-nav {
		margin: 0 15px;
		padding: 15px 0;
		border-bottom: 1px solid @lineTop;
		
		ul {
			margin: 0;
			padding: 0;
			font-weight: 700;
			
			@media (min-width: @tablets) {
				
			}
			
			@media (min-width: @desktops) {
				width: 100%;
				margin: 12px 0;
			}
			
			li {		
				list-style: none;
				text-align: center;
				padding: 0;
				
				@media (min-width: @tablets) {
					display: inline;
					padding: 0 36px;
				}
				
				@media (min-width: @desktops) {
					text-align: left;
					margin: 0 30px 0 0;
					padding: 0 10px 0 0;
				}
				
				a {
					font-weight: 700;
					color: @dkBlue;
					display: block;
					
					@media (min-width: @tablets) {
						display: inline-block;
					}
					
					&:hover {
						color: @red;
						text-decoration: none;
					}
				}
			}
		}
		
		a.bbb {
			background-image: url('/assets/images/bbb-logo.png');
			background-repeat: no-repeat;
			height: 45px;
			width: 170px;
			display: block;
			margin-top: 20px;
			margin: 20px auto 0;
			
			span { display: none; }
			
			@media (min-width: @desktops) {
				margin-top: 0px;
				.pull-right();
			}
		}
	}
	
	.copyright {
		margin: 0 15px;
		border-top: 1px solid @lineBottom;
		
		font-size: 10px;
		font-weight: 700;
		text-align: center;
		padding: 10px 0;
		
		p.copy {
			margin-top: 0;
			padding-top: 0;
		}
		
		p.lic {
			font-weight: 400;
			margin-bottom: 0;
			padding-bottom: 0;
			font-size: 14px;
		}
		
		
		@media (min-width: @desktops) {
			text-align: left;
			font-size: 12px;
			
			p {
				padding: 10px 0;
			}
		}
	}
}


/* =elements
-----------------------------------------------------*/
.btn {
	color: @white;
	
	&:hover { color: @white; }
}

.facebook-link {
	color: @blue;
	span { display: none; }
}

.red-button {
	background-color: @red;
	box-shadow: 0px 4px 0px @dkRed;
	margin: 0 5px;
}

.blue-button {
	background-color: @blue;
	box-shadow: 0px 4px 0px @dkBlue;
	margin: 0 5px;
}

.grey {
	background: #cccccc;
}


/* =mmenu
-----------------------------------------------------*/
.header {
	background: @red;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	margin: 0 -15px;
	height: 44px;

	a {
		background: center center no-repeat transparent;
		background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
	
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		left: 10px;
	}
}


/* =carousel
-----------------------------------------------------*/
.carousel {
	margin: 0 -15px;
	
	.carousel-inner {
		
		.carousel-caption {
			left: 10%;
			right: 10%;
			text-align: left;
		}
		
		h1 {
			font-weight: 400;
			margin-bottom: 10px;
			padding-bottom: 0;
			color: @white;
			border-bottom: none;
			text-transform: none;
			font-family: @sanita;
			font-size: 46px;
			width: 78%;
		}
		
		.btn {
			font-family: @openSansCon;
			text-transform: uppercase;
			font-weight: 700 !important;
			
			@media (max-width: @phones) {
				top: 16px;
				position: relative;
			}
			
			h3 { 
				font-weight: 700;
				font-size: 30px;
				margin: 0;
		
				span {
					text-transform: lowercase;
					display: block;
					text-align: right;
					font-family: @openSansCon;
					font-weight: 400;
					font-size: 20px;
				}
			}
		}
		
		.servicing {
			font-family: @openSansCon;
			font-weight: 400;
			padding: 5px 0 1px;
			text-align: center;
			margin: 30px 0 0;
			
			p { font-size: 25px !important; }
			
			background: -moz-linear-gradient(left, rgba(16,37,59,0) 0%, rgba(16,37,59,0.8) 25%, rgba(16,37,59,1) 50%, rgba(16,37,59,0.8) 75%, rgba(16,37,59,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(16,37,59,0)), color-stop(25%,rgba(16,37,59,0.8)), color-stop(50%,rgba(16,37,59,1)), color-stop(75%,rgba(16,37,59,0.8)), color-stop(100%,rgba(16,37,59,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left, rgba(16,37,59,0) 0%,rgba(16,37,59,0.8) 25%,rgba(16,37,59,1) 50%,rgba(16,37,59,0.8) 75%,rgba(16,37,59,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left, rgba(16,37,59,0) 0%,rgba(16,37,59,0.8) 25%,rgba(16,37,59,1) 50%,rgba(16,37,59,0.8) 75%,rgba(16,37,59,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left, rgba(16,37,59,0) 0%,rgba(16,37,59,0.8) 25%,rgba(16,37,59,1) 50%,rgba(16,37,59,0.8) 75%,rgba(16,37,59,0) 100%); /* IE10+ */
			background: linear-gradient(to right, rgba(16,37,59,0) 0%,rgba(16,37,59,0.8) 25%,rgba(16,37,59,1) 50%,rgba(16,37,59,0.8) 75%,rgba(16,37,59,0) 100%); /* W3C */
		}
	}
}


/* =content
-----------------------------------------------------*/
.interior {
	padding: 30px 20px !important;
}

#services {
	padding: 10px 20px 20px;

	@media (min-width: @desktops) {
		padding: 0 50px 20px;
	}

	.service-area {
		margin-bottom: 20px;

		a {
			display: block;
			position: relative;

			img {
				width: 100%;
			}

			div {
				position: absolute;
				height: 80px;
				width: 100%;
				padding: 15px 15px;
				font-size: 22px;
				line-height: 24px;
				text-align: center;
				background: rgba(4, 40, 82, 0.80);
				color: @white;
				bottom: 0;
				//margin: 0;

				&.uno {
					padding-top: 26px;
				}

				span {
					display: block;
					vertical-align: middle;
				}
			}
		}
	}

	&.grey {
		.service-area {
			div {
				font-size: 12px;
				font-weight: 700;
				height: auto;
				line-height: 16px;

				&.uno {
					padding-top: 15px;
				}
			}
		}
	}
}

#service-desc {
	h3.lead {
		margin-bottom: 0;
		color: @blue;
	}
	
	h6 {
		text-align: center;
		font-size: 18px;
		line-height: 22px;
		color: @red;
		font-style: italic;
		
		@media(min-width: @desktops) {
			margin: 40px 40px 0;
		}
	}
}

#testimonials {
	padding: 10px 20px 20px;
	//height: 300px;
	background-size: cover;
	background-image: url('/assets/images/blue-drain.png');
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;

	h1 {
		color: @white;
		border-bottom: none;

		span { color: @white; }
	}

    .testi {
        padding: 10px 0;

        @media(min-width: @desktops) {
            padding: 0 20px;
        }

        div {
            border: 1px solid rgba(255,255,255,0.4);
            background: rgba(255,255,255,0.3);
            padding: 20px;
            color: @dkBlue;
            
            p.testimonial {
	            font-size: 14px;
	            line-height: 20px;
            }
            
            p.person {
	            font-weight: 700;
	            text-align: right;
	            font-size: 12px;
            }
        }

    }
}

.pagetitle {
	padding: 10px 20px;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;

	h1 {
		color: @white;
		font-size: 36px;
		border-bottom: none;
		margin-bottom: 5px;

		span { color: @white; }
	}
}

.drain {
	background-image: url('/assets/images/blue-drain.png');
	.pagetitle
}

.coldwater {
	background-image: url('/assets/images/coldwater.jpg');
	.pagetitle
}

.waterheater {
	background-image: url('/assets/images/blue-drain.png');
	.pagetitle
}

.disposal {
	background-image: url('/assets/images/disposal.jpg');
	.pagetitle
}

.gasline {
	background-image: url('/assets/images/gasservices.jpg');
	.pagetitle
}

.commercial {
	background-image: url('/assets/images/commercial.jpg');
	.pagetitle
}


/* =about
-----------------------------------------------------*/
#employee-info {
	//background-color: #ffff00;
	border-bottom: 3px solid @blue;
    padding: 30px 35px !important;

    h2 {

        @media (min-width: @tablets) {
            margin-top: 0;
        }

        span.lead {
            display: block;
            color: @blue;
        }
    }
}

.ephoto {
    width: 768px;
    max-width: 122%;
    margin: -30px -35px 0;
    border-radius: 0;

    @media (min-width: @tablets) {
        width: 20%;
        margin: 0 30px 20px 0;
        border-radius: 10px;
        .pull-left;
    }
}

#team {
	.employee {
		min-height: 115px;
		padding: 10px;

		&.odd { clear: both; }

		h3 {
			color: @blue;
			overflow: hidden;
			margin-top: -58px;
			border-top: 2px solid @red;
			text-align: right;
			font-weight: 900;
			padding: 15px;
			border-radius: 0px 0px 5px 5px;
			margin-bottom: 10px;
			z-index: 99;
			position: relative;
			background-color: rgba(255,255,255,.7);
		}

		.lead {
			margin-bottom: 13px;
			color: @red;
			font-size: 1.25em;
		}
		
		img {
			width: 100%;
		}
	}
}



/* =faqs
-----------------------------------------------------*/
#faqs {

	img {
		margin-left: 20px;
		width: 40%;
	}
}



/* =forms
-----------------------------------------------------*/
#form {
	padding: 20px;

	@media (min-width: @tablets) {
		padding: 40px 20px;
	}

	.form {
		border-top: 1px solid @lineTop;
		padding-top: 15px;
		
		@media (min-width: @desktops) {
			border-top: 0;
			padding-top: 0;
		}
	}
}