/*-----------------------------------------------------
	location:		/assets/css/apctyler.css
	version:		1.0.201510
	author:			andrew newland
	email:			andrew@ithinkpixels.com

	creation:		Jan 05, 2015 18:14:40
-----------------------------------------------------*/
/* =less variables 
-----------------------------------------------------*/
/* XSmall devices (phones, 480 and down) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (desktops, 1200px and up) */
/* Mixins */
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
/* = 
-----------------------------------------------------*/
body {
  background-color: #c6c6c6;
  color: #1b2137;
  font-family: 'Open Sans', sans-serif;
}
.container {
  box-shadow: 0 0 10px #888888;
  background: #f0f0f0;
  border-top: 4px solid #b8252f;
}
a {
  color: #1b2137;
}
a:hover {
  color: #b8252f;
  text-decoration: none;
}
.break {
  border-bottom: 1px solid #d7d7d7;
}
@media (min-width: 992px) {
  .break {
    height: 20px;
    margin-bottom: 30px;
  }
}
div.more-padding {
  padding: 10px !important;
}
@media (min-width: 768px) {
  div.more-padding {
    padding: 10px 35px !important;
  }
}
/* =typography
-----------------------------------------------------*/
h1 {
  color: #042852;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: 900;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
h1 span {
  display: block;
  color: #b8252f;
  text-transform: none;
  font-size: 22px;
  font-weight: 200;
}
h2 {
  color: #b8252f;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900;
}
h2 i {
  color: #042852;
}
h4 {
  color: #b8252f;
  font-weight: 900;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
p {
  font-size: 15px;
  line-height: 28px;
}
p.lead {
  font-size: 18px;
}
label small {
  font-style: italic;
  color: #b8252f;
}
/* =header
-----------------------------------------------------*/
header .phonenumber {
  position: relative;
  background: none !important;
  color: #fff;
  width: 100% !important;
  z-index: 1;
  font-size: 30px;
  text-align: center;
}
header .header-nav {
  margin: 10px -15px;
  padding-bottom: 10px;
  border-bottom: 4px solid #1b2137;
}
@media (min-width: 768px) {
  header .header-nav ul {
    margin: 8px 0;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
  }
  header .header-nav ul li {
    list-style: none;
    padding: 0;
    margin: 0 8px 0;
    display: inline;
  }
  header .header-nav a.btn {
    float: right !important;
  }
  header .header-nav a.btn p {
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
  }
  header .header-nav a.btn.facebook-link {
    font-size: 40px;
    padding: 0 5px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header .header-nav ul {
    font-size: 13px;
  }
  header .header-nav ul li {
    margin: 0 10px;
  }
  header .header-nav a.btn p {
    font-size: 12px;
  }
  header .header-nav a.btn.facebook-link {
    padding: 0;
    font-size: 30px;
  }
}
header .branding-bar {
  margin: 15px 0 0;
  padding-bottom: 15px;
}
header .branding-bar .branding {
  background-image: url('/assets/images/branding.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 100px;
}
@media (min-width: 768px) and (max-width: 992px) {
  header .branding-bar .branding {
    margin-bottom: 15px;
  }
}
header .branding-bar .branding a {
  display: block;
  height: 100px;
}
header .branding-bar .branding a span {
  display: none;
}
@media (min-width: 768px) {
  header .branding-bar .emergency {
    border-right: 2px solid #ffffff;
  }
  header .branding-bar .emergency div {
    text-align: center;
    position: relative;
    padding: 10px 0;
    margin-right: 22px;
  }
  header .branding-bar .emergency div p {
    font-weight: 700;
    color: #042852;
    margin: 0;
    font-size: 18px;
  }
  header .branding-bar .emergency div p.phone {
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  header .branding-bar .emergency div i.fa {
    position: absolute;
    color: #b8252f;
    top: 7px;
    right: -2%;
    font-size: 70px;
  }
  header .branding-bar .promotion {
    border-left: 2px solid #d7d7d7;
  }
  header .branding-bar .promotion div {
    text-align: center;
    position: relative;
    padding: 10px 0;
  }
  header .branding-bar .promotion div img {
    height: 105px;
    margin: -14px auto 0;
  }
}
@media (min-width: 992px) {
  header .branding-bar .branding {
    border-right: 2px solid #d7d7d7;
  }
  header .branding-bar .emergency {
    height: 100px;
    border-left: 2px solid #ffffff;
  }
  header .branding-bar .emergency div {
    margin: 0 20px 0 0;
    padding: 19px 0;
  }
  header .branding-bar .emergency div i.fa {
    top: 16px;
    right: -9%;
  }
  header .branding-bar .promotion {
    height: 100px;
  }
}
@media (min-width: 1200px) {
  header .branding-bar .emergency div i.fa {
    right: 0%;
  }
}
/* =footer
-----------------------------------------------------*/
footer {
  margin: 0 -15px;
  border-top: 4px solid #b8252f;
}
footer .footer-nav {
  margin: 0 15px;
  padding: 15px 0;
  border-bottom: 1px solid #d7d7d7;
}
footer .footer-nav ul {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
@media (min-width: 768px) {
  
}
@media (min-width: 992px) {
  footer .footer-nav ul {
    width: 100%;
    margin: 12px 0;
  }
}
footer .footer-nav ul li {
  list-style: none;
  text-align: center;
  padding: 0;
}
@media (min-width: 768px) {
  footer .footer-nav ul li {
    display: inline;
    padding: 0 36px;
  }
}
@media (min-width: 992px) {
  footer .footer-nav ul li {
    text-align: left;
    margin: 0 30px 0 0;
    padding: 0 10px 0 0;
  }
}
footer .footer-nav ul li a {
  font-weight: 700;
  color: #1b2137;
  display: block;
}
@media (min-width: 768px) {
  footer .footer-nav ul li a {
    display: inline-block;
  }
}
footer .footer-nav ul li a:hover {
  color: #b8252f;
  text-decoration: none;
}
footer .footer-nav a.bbb {
  background-image: url('/assets/images/bbb-logo.png');
  background-repeat: no-repeat;
  height: 45px;
  width: 170px;
  display: block;
  margin-top: 20px;
  margin: 20px auto 0;
}
footer .footer-nav a.bbb span {
  display: none;
}
@media (min-width: 992px) {
  footer .footer-nav a.bbb {
    margin-top: 0px;
    float: right !important;
  }
}
footer .copyright {
  margin: 0 15px;
  border-top: 1px solid #ffffff;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
}
footer .copyright p.copy {
  margin-top: 0;
  padding-top: 0;
}
footer .copyright p.lic {
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 14px;
}
@media (min-width: 992px) {
  footer .copyright {
    text-align: left;
    font-size: 12px;
  }
  footer .copyright p {
    padding: 10px 0;
  }
}
/* =elements
-----------------------------------------------------*/
.btn {
  color: #f0f0f0;
}
.btn:hover {
  color: #f0f0f0;
}
.facebook-link {
  color: #042852;
}
.facebook-link span {
  display: none;
}
.red-button {
  background-color: #b8252f;
  box-shadow: 0px 4px 0px #512128;
  margin: 0 5px;
}
.blue-button {
  background-color: #042852;
  box-shadow: 0px 4px 0px #1b2137;
  margin: 0 5px;
}
.grey {
  background: #cccccc;
}
/* =mmenu
-----------------------------------------------------*/
.header {
  background: #b8252f;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 -15px;
  height: 44px;
}
.header a {
  background: center center no-repeat transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 10px;
}
/* =carousel
-----------------------------------------------------*/
.carousel {
  margin: 0 -15px;
}
.carousel .carousel-inner .carousel-caption {
  left: 10%;
  right: 10%;
  text-align: left;
}
.carousel .carousel-inner h1 {
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 0;
  color: #f0f0f0;
  border-bottom: none;
  text-transform: none;
  font-family: 'Sansita One', cursive;
  font-size: 46px;
  width: 78%;
}
.carousel .carousel-inner .btn {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700 !important;
}
@media (max-width: 480px) {
  .carousel .carousel-inner .btn {
    top: 16px;
    position: relative;
  }
}
.carousel .carousel-inner .btn h3 {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}
.carousel .carousel-inner .btn h3 span {
  text-transform: lowercase;
  display: block;
  text-align: right;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.carousel .carousel-inner .servicing {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  padding: 5px 0 1px;
  text-align: center;
  margin: 30px 0 0;
  background: -moz-linear-gradient(left, rgba(16, 37, 59, 0) 0%, rgba(16, 37, 59, 0.8) 25%, #10253b 50%, rgba(16, 37, 59, 0.8) 75%, rgba(16, 37, 59, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(16, 37, 59, 0)), color-stop(25%, rgba(16, 37, 59, 0.8)), color-stop(50%, #10253b), color-stop(75%, rgba(16, 37, 59, 0.8)), color-stop(100%, rgba(16, 37, 59, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(16, 37, 59, 0) 0%, rgba(16, 37, 59, 0.8) 25%, #10253b 50%, rgba(16, 37, 59, 0.8) 75%, rgba(16, 37, 59, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(16, 37, 59, 0) 0%, rgba(16, 37, 59, 0.8) 25%, #10253b 50%, rgba(16, 37, 59, 0.8) 75%, rgba(16, 37, 59, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(16, 37, 59, 0) 0%, rgba(16, 37, 59, 0.8) 25%, #10253b 50%, rgba(16, 37, 59, 0.8) 75%, rgba(16, 37, 59, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to right, rgba(16, 37, 59, 0) 0%, rgba(16, 37, 59, 0.8) 25%, #10253b 50%, rgba(16, 37, 59, 0.8) 75%, rgba(16, 37, 59, 0) 100%);
  /* W3C */

}
.carousel .carousel-inner .servicing p {
  font-size: 25px !important;
}
/* =content
-----------------------------------------------------*/
.interior {
  padding: 30px 20px !important;
}
#services {
  padding: 10px 20px 20px;
}
@media (min-width: 992px) {
  #services {
    padding: 0 50px 20px;
  }
}
#services .service-area {
  margin-bottom: 20px;
}
#services .service-area a {
  display: block;
  position: relative;
}
#services .service-area a img {
  width: 100%;
}
#services .service-area a div {
  position: absolute;
  height: 80px;
  width: 100%;
  padding: 15px 15px;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  background: rgba(4, 40, 82, 0.8);
  color: #f0f0f0;
  bottom: 0;
}
#services .service-area a div.uno {
  padding-top: 26px;
}
#services .service-area a div span {
  display: block;
  vertical-align: middle;
}
#services.grey .service-area div {
  font-size: 12px;
  font-weight: 700;
  height: auto;
  line-height: 16px;
}
#services.grey .service-area div.uno {
  padding-top: 15px;
}
#service-desc h3.lead {
  margin-bottom: 0;
  color: #042852;
}
#service-desc h6 {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #b8252f;
  font-style: italic;
}
@media (min-width: 992px) {
  #service-desc h6 {
    margin: 40px 40px 0;
  }
}
#testimonials {
  padding: 10px 20px 20px;
  background-size: cover;
  background-image: url('/assets/images/blue-drain.png');
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#testimonials h1 {
  color: #f0f0f0;
  border-bottom: none;
}
#testimonials h1 span {
  color: #f0f0f0;
}
#testimonials .testi {
  padding: 10px 0;
}
@media (min-width: 992px) {
  #testimonials .testi {
    padding: 0 20px;
  }
}
#testimonials .testi div {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  color: #1b2137;
}
#testimonials .testi div p.testimonial {
  font-size: 14px;
  line-height: 20px;
}
#testimonials .testi div p.person {
  font-weight: 700;
  text-align: right;
  font-size: 12px;
}
.pagetitle {
  padding: 10px 20px;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.pagetitle h1 {
  color: #f0f0f0;
  font-size: 36px;
  border-bottom: none;
  margin-bottom: 5px;
}
.pagetitle h1 span {
  color: #f0f0f0;
}
.drain {
  background-image: url('/assets/images/blue-drain.png');
  padding: 10px 20px;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.drain h1 {
  color: #f0f0f0;
  font-size: 36px;
  border-bottom: none;
  margin-bottom: 5px;
}
.drain h1 span {
  color: #f0f0f0;
}
.coldwater {
  background-image: url('/assets/images/coldwater.jpg');
  padding: 10px 20px;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.coldwater h1 {
  color: #f0f0f0;
  font-size: 36px;
  border-bottom: none;
  margin-bottom: 5px;
}
.coldwater h1 span {
  color: #f0f0f0;
}
.waterheater {
  background-image: url('/assets/images/blue-drain.png');
  padding: 10px 20px;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.waterheater h1 {
  color: #f0f0f0;
  font-size: 36px;
  border-bottom: none;
  margin-bottom: 5px;
}
.waterheater h1 span {
  color: #f0f0f0;
}
.disposal {
  background-image: url('/assets/images/disposal.jpg');
  padding: 10px 20px;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.disposal h1 {
  color: #f0f0f0;
  font-size: 36px;
  border-bottom: none;
  margin-bottom: 5px;
}
.disposal h1 span {
  color: #f0f0f0;
}
.gasline {
  background-image: url('/assets/images/gasservices.jpg');
  padding: 10px 20px;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.gasline h1 {
  color: #f0f0f0;
  font-size: 36px;
  border-bottom: none;
  margin-bottom: 5px;
}
.gasline h1 span {
  color: #f0f0f0;
}
.commercial {
  background-image: url('/assets/images/commercial.jpg');
  padding: 10px 20px;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.commercial h1 {
  color: #f0f0f0;
  font-size: 36px;
  border-bottom: none;
  margin-bottom: 5px;
}
.commercial h1 span {
  color: #f0f0f0;
}
/* =about
-----------------------------------------------------*/
#employee-info {
  border-bottom: 3px solid #042852;
  padding: 30px 35px !important;
}
@media (min-width: 768px) {
  #employee-info h2 {
    margin-top: 0;
  }
}
#employee-info h2 span.lead {
  display: block;
  color: #042852;
}
.ephoto {
  width: 768px;
  max-width: 122%;
  margin: -30px -35px 0;
  border-radius: 0;
}
@media (min-width: 768px) {
  .ephoto {
    width: 40%;
    margin: 0 30px 20px 0;
    border-radius: 10px;
    float: left !important;
  }
}
#team .employee {
  min-height: 115px;
  padding: 10px;
}
#team .employee.odd {
  clear: both;
}
#team .employee h3 {
  color: #042852;
  overflow: hidden;
  margin-top: -58px;
  border-top: 2px solid #b8252f;
  text-align: right;
  font-weight: 900;
  padding: 15px;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 10px;
  z-index: 99;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
}
#team .employee .lead {
  margin-bottom: 13px;
  color: #b8252f;
  font-size: 1.25em;
}
#team .employee img {
  width: 100%;
}
/* =faqs
-----------------------------------------------------*/
#faqs img {
  margin-left: 20px;
  width: 40%;
}
/* =forms
-----------------------------------------------------*/
#form {
  padding: 20px;
}
@media (min-width: 768px) {
  #form {
    padding: 40px 20px;
  }
}
#form .form {
  border-top: 1px solid #d7d7d7;
  padding-top: 15px;
}
@media (min-width: 992px) {
  #form .form {
    border-top: 0;
    padding-top: 0;
  }
}
