/*------------------------------------------------------------------------------------*/
/*------------------------------  YOUR CUSTOM CSS STYLE  -----------------------------*/

td p.lead { line-height: 1; }
td p small { font-size: 70%; }

.form-group .tips { color: #990000; font-size: 10px; }